*{ box-sizing: content-box;}

.animada{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.animada ul{
    padding: 0;
    display: flex;
    width: 400%;
    height: 300%;
    animation: cambio 10s infinite alternate linear;
}

.animada li{
    list-style: none;
    width: 100%;
}

.animada img{
    width: 100%;
}

@keyframes cambio{
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    
    25%{margin-left: -100%;}
    45%{margin-left: -100%}
    
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

body{
    padding: 0rem;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container-all{
    width: 100%;
    max-width: 4000px;
    margin: auto;
    padding: 30px;
    background: white;
    margin-top: 12px;
    border-top: 6px solid #87D9DB;
    text-align: justify;
}

.title{
    font-size: 40px;
    margin-bottom: 60px;
}

.sub-title{
    font-size: 30px;
    font-weight: 400;
}

.container-all img{
    width: 300px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.container-all p{
    font-size: 18px;
    font-weight: 300;
    margin-top: 10px;
}

/*footer*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*{
    box-sizing: border-box;
    font-family: times;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    padding-left: 0;
}

.container{
    flex: 1; 
}

footer{
    background-color: #FFF;
    color: #55BCFA;
    line-height: 1.5;
}

footer a{
    text-decoration: none;
    color: #55BCFA;
}

a:hover{
    text-decoration: underline;
}

form{
    display: flex;
    flex-wrap: wrap;
}

input[type="email"]{
    border: 0;
    padding: 0.625rem;
    margin-top: 0.3125rem;
}

input[type="submit"]{
    background-color: #00d188;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 0.625rem 0.9375rem;
    margin-top: 0.3125rem;
}

.ft-legal{
    padding: 0.9375rem 1.875rem;
    background-color: #333;
}

.ft-legal-list{
    width: 0%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li{
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

/*one before the last child*/

.ft-legal-list li:nth-last-child(1){
    flex: 1;    
}

.menunavegacion{
    padding: 1rem;
    margin: 0;
    display: block;
    background-color: #87D9DB;
    font-weight: bold;
    margin-right: 0;
    padding-left: 0;
}

.menunavegacion a{
    display: inline;
    padding: 0.5rem;
    border-right: 1px solid #555;
    margin-left: 2px;
}

.menunavegacion a:hover{
    background-color: #34BFD1;
    padding: 1rem;
}