.banner{
    height: 500px;
    position: relative;
    background: #87D9DB;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Book Antiqua;
}

.porfolio{
    text-align: justify;
    position: absolute;
    width: 99%;
    font-family: Book Antiqua;
    float: left;
    position: absolute;
    margin-top: -2rem;   
    font-size: 18px;
}



